@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
    <h6>@ViewData["Professor"]</h6>
    <h7>@ViewData["Email"]</h7>
    <address>
        <strong>More information:</strong> <a href="https://github.com/joaodiasdev">Projects</a>
    </address>
</div>
